@import url(https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Raleway:700,800&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #616161;
  line-height: 1;
  font-family: "Rubik";
  font-size: 0.75rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Rubik";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 65rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  background-color: #FAFBFD;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2.3125rem 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  z-index: 5;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  z-index: 2;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
}

@supports ((-moz-column-gap: clamp( 1.875rem , 1.6083333333rem  +  1.3333333333vw , 2.5rem )) or (column-gap: clamp( 1.875rem , 1.6083333333rem  +  1.3333333333vw , 2.5rem ))) {
  .menu__list {
    -webkit-column-gap: clamp( 1.875rem , 1.6083333333rem  +  1.3333333333vw , 2.5rem );
       -moz-column-gap: clamp( 1.875rem , 1.6083333333rem  +  1.3333333333vw , 2.5rem );
            column-gap: clamp( 1.875rem , 1.6083333333rem  +  1.3333333333vw , 2.5rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.875rem , 1.6083333333rem  +  1.3333333333vw , 2.5rem )) or (column-gap: clamp( 1.875rem , 1.6083333333rem  +  1.3333333333vw , 2.5rem ))) {
  .menu__list {
    -webkit-column-gap: calc(1.875rem + 0.625 * (100vw - 20rem) / 46.875);
       -moz-column-gap: calc(1.875rem + 0.625 * (100vw - 20rem) / 46.875);
            column-gap: calc(1.875rem + 0.625 * (100vw - 20rem) / 46.875);
  }
}

.menu__link {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 12px;
  color: #000000;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  letter-spacing: 0.14em;
}

@supports (font-size: clamp( 0.625rem , 1.3383333333rem  +  -1.0666666667vw , 1.125rem )) {
  .menu__link {
    font-size: clamp( 0.625rem , 1.3383333333rem  +  -1.0666666667vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.625rem , 1.3383333333rem  +  -1.0666666667vw , 1.125rem )) {
  .menu__link {
    font-size: calc(1.125rem + -0.5 * (100vw - 20rem) / 46.875);
  }
}

@supports (margin-left: clamp( 0.9375rem , 0.6708333333rem  +  1.3333333333vw , 1.5625rem )) {
  .menu__icon {
    margin-left: clamp( 0.9375rem , 0.6708333333rem  +  1.3333333333vw , 1.5625rem );
  }
}

@supports not (margin-left: clamp( 0.9375rem , 0.6708333333rem  +  1.3333333333vw , 1.5625rem )) {
  .menu__icon {
    margin-left: calc(0.9375rem + 0.625 * (100vw - 20rem) / 46.875);
  }
}

@supports (margin-left: clamp( 0.3125rem , 0.0458333333rem  +  1.3333333333vw , 0.9375rem )) {
  .icon-menu {
    margin-left: clamp( 0.3125rem , 0.0458333333rem  +  1.3333333333vw , 0.9375rem );
  }
}

@supports not (margin-left: clamp( 0.3125rem , 0.0458333333rem  +  1.3333333333vw , 0.9375rem )) {
  .icon-menu {
    margin-left: calc(0.3125rem + 0.625 * (100vw - 20rem) / 46.875);
  }
}

.button-block {
  position: relative;
  z-index: 2;
  display: inline-block;
  background-color: #EC5863;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 0.875rem 0;
  font-weight: 800;
  line-height: 12px;
  letter-spacing: 0.14em;
  color: #FCFDFE;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@supports (padding-left: clamp( 0.625rem , 0.0916666667rem  +  2.6666666667vw , 1.875rem )) {
  .button-block {
    padding-left: clamp( 0.625rem , 0.0916666667rem  +  2.6666666667vw , 1.875rem );
  }
}

@supports not (padding-left: clamp( 0.625rem , 0.0916666667rem  +  2.6666666667vw , 1.875rem )) {
  .button-block {
    padding-left: calc(0.625rem + 1.25 * (100vw - 20rem) / 46.875);
  }
}

@supports (padding-right: clamp( 0.625rem , 0.0916666667rem  +  2.6666666667vw , 1.875rem )) {
  .button-block {
    padding-right: clamp( 0.625rem , 0.0916666667rem  +  2.6666666667vw , 1.875rem );
  }
}

@supports not (padding-right: clamp( 0.625rem , 0.0916666667rem  +  2.6666666667vw , 1.875rem )) {
  .button-block {
    padding-right: calc(0.625rem + 1.25 * (100vw - 20rem) / 46.875);
  }
}

@supports (font-size: clamp( 0.625rem , 0.9816666667rem  +  -0.5333333333vw , 0.875rem )) {
  .button-block {
    font-size: clamp( 0.625rem , 0.9816666667rem  +  -0.5333333333vw , 0.875rem );
  }
}

@supports not (font-size: clamp( 0.625rem , 0.9816666667rem  +  -0.5333333333vw , 0.875rem )) {
  .button-block {
    font-size: calc(0.875rem + -0.25 * (100vw - 20rem) / 46.875);
  }
}

.button-block_blue {
  background-color: #4285F4;
}

.icon-menu {
  display: none;
}

.health {
  background-color: #FAFBFD;
  padding-bottom: 3rem;
}

.health::before {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #EC5863;
  border-radius: 30px 0px 0px 30px;
  width: 35%;
  opacity: 1;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

@supports (max-height: clamp( 25rem , 17.4533333333rem  +  37.7333333333vw , 42.6875rem )) {
  .health::before {
    max-height: clamp( 25rem , 17.4533333333rem  +  37.7333333333vw , 42.6875rem );
  }
}

@supports not (max-height: clamp( 25rem , 17.4533333333rem  +  37.7333333333vw , 42.6875rem )) {
  .health::before {
    max-height: calc(25rem + 17.6875 * (100vw - 20rem) / 46.875);
  }
}

.health__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.health__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.625rem 0;
  margin-bottom: 4.25rem;
}

.health__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.health__picture {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 0 0 0.625rem;
  z-index: 2;
}

.health__img {
  width: 100%;
}

.block-title__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 126%;
  color: #000000;
}

@supports (font-size: clamp( 2.375rem , 2.215rem  +  0.8vw , 2.75rem )) {
  .block-title__title {
    font-size: clamp( 2.375rem , 2.215rem  +  0.8vw , 2.75rem );
  }
}

@supports not (font-size: clamp( 2.375rem , 2.215rem  +  0.8vw , 2.75rem )) {
  .block-title__title {
    font-size: calc(2.375rem + 0.375 * (100vw - 20rem) / 46.875);
  }
}

.block-title__title span {
  color: #4285F4;
}

.block-title__title:not(:last-child) {
  margin-bottom: 0.75rem;
}

.block-title__text {
  line-height: 138.5%;
  letter-spacing: 0.08em;
}

@supports (font-size: clamp( 0.75rem , 1.0175rem  +  -0.4vw , 0.9375rem )) {
  .block-title__text {
    font-size: clamp( 0.75rem , 1.0175rem  +  -0.4vw , 0.9375rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 1.0175rem  +  -0.4vw , 0.9375rem )) {
  .block-title__text {
    font-size: calc(0.9375rem + -0.1875 * (100vw - 20rem) / 46.875);
  }
}

.block-title__text:not(:last-child) {
  margin-bottom: 1.5rem;
}

.video-block {
  line-height: 126%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.video-block__title {
  font-size: 0.8125rem;
  letter-spacing: 0.08em;
  color: #B0B0B0;
}

.video-block__title:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.video-block__sub-title {
  font-size: 0.5625rem;
  letter-spacing: 0.165em;
  color: #000000;
  text-transform: uppercase;
}

.video-block__picture {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 0.75rem;
}

.video-block__img {
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.video-block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.safe__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5.875rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports (padding-top: clamp( 4.375rem , 2.6416666667rem  +  8.6666666667vw , 8.4375rem )) {
  .safe__container {
    padding-top: clamp( 4.375rem , 2.6416666667rem  +  8.6666666667vw , 8.4375rem );
  }
}

@supports not (padding-top: clamp( 4.375rem , 2.6416666667rem  +  8.6666666667vw , 8.4375rem )) {
  .safe__container {
    padding-top: calc(4.375rem + 4.0625 * (100vw - 20rem) / 46.875);
  }
}

.safe__picture {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
  z-index: 3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.safe__picture::before {
  content: "";
  display: block;
  position: absolute;
  width: 206px;
  height: 27px;
  bottom: 4.5%;
  left: 2.5rem;
  background: rgba(240, 240, 240, 0.8);
  border-radius: 16px;
}

.safe__picture::after {
  content: "";
  width: 147px;
  height: 147px;
  top: -5%;
  right: 80%;
  position: absolute;
  display: block;
  background: #EC5863;
  border-radius: 30px;
}

.safe__img {
  position: relative;
  z-index: 2;
}

.safe__phone::before,
.safe__phone::after {
  content: "";
  display: block;
  width: 77px;
  height: 77px;
  position: absolute;
  background: #EC5863;
  border-radius: 30px;
}

.safe__phone::before {
  top: 63%;
  right: 42%;
}

.safe__phone::after {
  bottom: 0%;
  left: -1%;
}

.safe__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 0.625rem;
}

.block-title_red span {
  color: #EC5863;
}

.experts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.experts__info:not(:last-child) {
  margin-bottom: 5rem;
}

.experts__block-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-column-gap: 6.25rem;
     -moz-column-gap: 6.25rem;
          column-gap: 6.25rem;
  row-gap: 0.9375rem;
  padding: 1.75rem 5rem;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
          box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
  border-radius: 16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.experts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 7.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports (padding-bottom: clamp( 3.75rem , 2.2566666667rem  +  7.4666666667vw , 7.25rem )) {
  .experts__content {
    padding-bottom: clamp( 3.75rem , 2.2566666667rem  +  7.4666666667vw , 7.25rem );
  }
}

@supports not (padding-bottom: clamp( 3.75rem , 2.2566666667rem  +  7.4666666667vw , 7.25rem )) {
  .experts__content {
    padding-bottom: calc(3.75rem + 3.5 * (100vw - 20rem) / 46.875);
  }
}

.experts__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-right: 4.375rem;
}

.block-info-exp__num {
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.14em;
  color: #EC5863;
}

.block-info-exp__text {
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.37em;
  text-transform: uppercase;
  color: #000000;
}

.video-experts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.video-experts__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.video-experts__item iframe {
  width: 100%;
  height: 17.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.head-healtcare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head-healtcare:not(:last-child) {
  margin-bottom: 2.8125rem;
}

.head-healtcare__title {
  text-align: center;
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 126%;
  color: #000000;
}

.head-healtcare__title span {
  color: #EC5863;
}

.head-healtcare__title:not(:last-child) {
  margin-bottom: 0.875rem;
}

.head-healtcare__text {
  text-align: center;
  max-width: 37.5rem;
  font-size: 0.75rem;
  line-height: 138.5%;
  letter-spacing: 0.08em;
}

.body-healtcare {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
  grid-auto-flow: row;
  -webkit-column-gap: 4.5rem;
     -moz-column-gap: 4.5rem;
          column-gap: 4.5rem;
  row-gap: 1.25rem;
}

.body-healtcare:not(:last-child) {
  margin-bottom: 3.75rem;
}

.body-healtcare__card {
  padding: 2.3125rem 1.0625rem;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
          box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.body-healtcare__card:hover {
  cursor: pointer;
  -webkit-transform: translate(0, -6px);
      -ms-transform: translate(0, -6px);
          transform: translate(0, -6px);
}

.body-healtcare__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-healtcare__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  margin-bottom: 3.625rem;
}

.body-healtcare__title {
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
  line-height: 138.5%;
  letter-spacing: 0.08em;
  color: #000;
}

.body-healtcare__title:not(:last-child) {
  margin-bottom: 0.25rem;
}

.body-healtcare__text {
  text-align: center;
  font-size: 0.75rem;
  line-height: 138.5%;
  letter-spacing: 0.08em;
}

.apps-healtcare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 3.5625rem;
     -moz-column-gap: 3.5625rem;
          column-gap: 3.5625rem;
  row-gap: 0.9375rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.apps-healtcare__apple {
  -webkit-transform: translate(0, -3.5px);
      -ms-transform: translate(0, -3.5px);
          transform: translate(0, -3.5px);
}

@media (max-width: 61.99875em) {
  .health::before {
    width: 20%;
  }
}

@media (max-width: 47.99875em) {
  .header__logo {
    margin-right: 0.625rem;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    padding-bottom: 1.875rem;
    background-color: #edb4b8;
    z-index: 4;
  }

@supports (padding-top: clamp( 6.25rem , 5.3433333333rem  +  4.5333333333vw , 8.375rem )) {
    .menu__body {
      padding-top: clamp( 6.25rem , 5.3433333333rem  +  4.5333333333vw , 8.375rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , 5.3433333333rem  +  4.5333333333vw , 8.375rem )) {
    .menu__body {
      padding-top: calc(6.25rem + 2.125 * (100vw - 20rem) / 46.875);
    }
}

  .menu-open .menu__body {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    row-gap: 1.875rem;
    font-size: 1.875rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .health::before {
    opacity: 0;
  }

  .health__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .health__body {
    margin-bottom: 1.25rem;
  }

  .safe__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .safe__picture {
    margin-bottom: 1.25rem;
  }

  .safe__picture::after {
    display: none;
  }

  .safe__phone::before,
  .safe__phone::after {
    display: none;
  }

  .experts__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 0rem;
  }

  .experts__body:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .video-experts {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }

  .video-experts__item iframe {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

@supports (width: clamp( 18.75rem , 12.8833333333rem  +  29.3333333333vw , 32.5rem )) {
    .video-experts__item iframe {
      width: clamp( 18.75rem , 12.8833333333rem  +  29.3333333333vw , 32.5rem );
    }
}

@supports not (width: clamp( 18.75rem , 12.8833333333rem  +  29.3333333333vw , 32.5rem )) {
    .video-experts__item iframe {
      width: calc(18.75rem + 13.75 * (100vw - 20rem) / 46.875);
    }
}
}

@media (max-width: 29.99875em) {
@supports (width: clamp( 7.5rem , 7.1533333333rem  +  1.7333333333vw , 8.3125rem )) {
    .header__logo img {
      width: clamp( 7.5rem , 7.1533333333rem  +  1.7333333333vw , 8.3125rem );
    }
}

@supports not (width: clamp( 7.5rem , 7.1533333333rem  +  1.7333333333vw , 8.3125rem )) {
    .header__logo img {
      width: calc(7.5rem + 0.8125 * (100vw - 20rem) / 46.875);
    }
}
}

@media (any-hover: hover) {
  .menu__link:hover {
    color: #474646;
    text-decoration: underline;
  }

  .button-block:hover {
    background-color: #eb7981;
  }

  .button-block_blue:hover {
    background-color: #6aa1f8;
  }

  .video-block__img:hover {
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}